@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.75;
  overflow-x: hidden;
  color: $text-primary-color;

  @media (min-width: 768px) {
    font-size: 14px;
  }

  @media (min-width: 1200px) {
    font-size: 15px;
  }

  @media (min-width: 1440px) {
    font-size: 16px;
  }
}

.title {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.28;
  text-transform: capitalize;
  color: $title-color;

  &::before {
    content: '';
    display: block;
    margin-right: 8px;
    width: 32px;
    height: 1px;
    background-color: $title-color;
  }

  @media (min-width: 1200px) {
    font-size: 14px;
  }
}

.subtitle {
  margin-top: 12px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  text-transform: capitalize;
  color: $subtitle-color;

  @media (min-width: 1200px) {
    margin-left: 40px;
    font-size: 32px;
  }
}

.gradient-container-1 {
  position: relative;
  overflow-x: hidden;
}

.gradient-1 {
  position: absolute;
  bottom: 160px;
  right: -94px;
  z-index: -1;
  display: none;
  width: 438px;
  height: 494px;
  background-color: $gradient-1;
  opacity: 0.3;
  filter: blur(60px);
  transform: rotate(90deg);

  @media (min-width: 768px) {
    display: block;
  }
}

.gradient-2 {
  position: absolute;
  bottom: 43px;
  right: -153px;
  z-index: -1;
  display: none;
  width: 438px;
  height: 494px;
  background: $gradient-2;
  opacity: 0.3;
  filter: blur(60px);
  transform: rotate(90deg);

  @media (min-width: 768px) {
    display: block;
  }
}
