<div class="container">
  <div class="footer__main-info">
    <a href="/" class="logo">
      <svg width="36" height="36" class="logo__icon">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
      <p class="logo__text">Hounter</p>
    </a>
    <p class="footer__main-info-text">
      We provide information about properties such as houses, villas and
      apartments to help people find their dream home
    </p>
    <ul class="socials__list">
      <li class="socials__item">
        <a
          href="https://www.facebook.com/"
          aria-label="Link to Facebook page"
          class="socials__link"
          ><svg width="32" height="32" class="socials__icon">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a
          href="https://twitter.com/"
          aria-label="Link to Twitter page"
          class="socials__link"
          ><svg width="32" height="32" class="socials__icon">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a
          href="https://www.instagram.com/"
          aria-label="Link to Instagram page"
          class="socials__link"
          ><svg width="32" height="32" class="socials__icon">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <ul class="footer__add-info">
    <li class="footer__add-info-item">
      <p class="footer__add-info-title">Property</p>
      <ul class="footer__add-info-sublist">
        <li class="footer__add-info-sublist-item">
          <a href="#" class="footer__add-info-link">House</a>
        </li>
        <li class="footer__add-info-sublist-item">
          <a href="#" class="footer__add-info-link">Apartment</a>
        </li>
        <li class="footer__add-info-sublist-item">
          <a href="#" class="footer__add-info-link">Villa</a>
        </li>
      </ul>
    </li>
    <li class="footer__add-info-item">
      <p class="footer__add-info-title">Article</p>
      <ul class="footer__add-info-sublist">
        <li class="footer__add-info-sublist-item">
          <a href="#" class="footer__add-info-link">New Article</a>
        </li>
        <li class="footer__add-info-sublist-item">
          <a href="#" class="footer__add-info-link">Popular Article</a>
        </li>
        <li class="footer__add-info-sublist-item">
          <a href="#" class="footer__add-info-link">Most Read</a>
        </li>
        <li class="footer__add-info-sublist-item">
          <a href="/" class="footer__add-info-link">Tips & Tricks</a>
        </li>
      </ul>
    </li>
    <li class="footer__add-info-item">
      <p class="footer__add-info-title">Contact</p>
      <address class="footer__address">
        <p class="footer__address-location">
          2464 Royal Ln. Mesa, New Jersey 45463
        </p>
        <a href="tel:+6715550110">(671) 555-0110</a>
        <a href="mailto:info@hounter.com">info@hounter.com</a>
      </address>
    </li>
  </ul>
</div>
