<ul class="sell-carousel">
  <li class="carousel__first-slide">
    <div class="carousel__first-slide-container">
      <img
        src="./images/sell-house-desk-1x.jpg"
        alt="House"
        width="488"
        height="416"
        class="sell-carousel__img"
      />
    </div>
  </li>
  <li class="sell-carousel__second-slide">
    <div class="carousel__second-slide-container">
      <img
        src="./images/sell-sofa-desk-1x.jpg"
        alt="Sofa"
        width="266"
        height="168"
        class="sell-carousel__img"
      />
    </div>
  </li>
  <li class="sell-carousel__third-slide">
    <div class="carousel__third-slide-container">
      <img
        src="./images/sell-table-desk-2x.jpg"
        alt="Table"
        width="96"
        height="80"
        class="sell-carousel__img"
      />
    </div>
  </li>
  <li class="sell-carousel__fourth-slide">
    <div class="carousel__fourth-slide-container">
      <img
        src="./images/sell-armchair-desk-1x.jpg"
        alt="Armchair"
        width="96"
        height="80"
        class="sell-carousel__img"
      />
    </div>
  </li>
</ul>
