<section class="subscribe">
  <div class="container">
    <div class="subscribe__window">
      <div class="subscribe__img-left-1"></div>
      <div class="subscribe__img-left-2"></div>
      <div class="subscribe__img-left-3"></div>
      <div class="subscribe__img-left-4"></div>
      <h2 class="subscribe__title">
        Subscribe For More Info and update from Hounter
      </h2>
      <form class="subscribe__form">
        <svg width="24" height="24" class="subscribe__form-icon">
          <use href="./images/icons.svg#icon-letter"></use>
        </svg>
        <input
          type="email"
          class="subscribe__form-input"
          name="email"
          placeholder="Your email here"
          required
        />
        <button type="submit" class="subscribe__btn">Subsribe Now</button>
      </form>
      <div class="subscribe__img-right-1"></div>
      <div class="subscribe__img-right-2"></div>
      <div class="subscribe__img-right-3"></div>
      <div class="subscribe__img-right-4"></div>
    </div>
  </div>
</section>
