<section class="subscribe">
  <div class="container">
    <div class="subscribe__window">
      <h2 class="subscribe__title">
        Subscribe For More Info and update from Hounter
      </h2>
      <form class="subscribe__form">
        <svg width="24" height="24" class="subscribe__form-icon">
          <use href="./images/icons.svg#icon-letter"></use>
        </svg>
        <input
          type="text"
          class="subscribe__form-input"
          placeholder="Your email here"
        />
        <button type="submit" class="subscribe__btn">Subsribe Now</button>
      </form>
    </div>
  </div>
</section>
