%btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  align-self: center;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 32px;
  fill: currentColor;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.57;

  & > svg {
    width: 18px;
    height: 18px;

    @media (min-width: 1200px) {
      width: 24px;
      height: 24px;
    }
  }

  @media (min-width: 768px) {
    padding: 10px 12px;
    font-size: 12px;
  }

  @media (min-width: 1200px) {
    padding: 12px 16px;
    font-size: 14px;
  }
}

.btn-primary {
  @extend %btn;
  color: $btn-primary-text;
  border-color: $btn-primary-bg;
  background-color: $btn-primary-bg;

  &:hover,
  &:focus {
    border-color: $btn-primary-hover-bg;
    background-color: $btn-primary-hover-bg;
  }

  &:active {
    border-color: $btn-primary-active-bg;
    background-color: $btn-primary-active-bg;
  }
}

.btn-secondary {
  @extend %btn;
  color: $btn-secondary-text;
  border-color: $btn-secondary-bg;
  background-color: $btn-secondary-bg;

  &:hover,
  &:focus {
    border-color: $btn-secondary-bg-hover;
    background-color: $btn-secondary-bg-hover;
  }

  &:active {
    border-color: $btn-secondary-bg-active;
    background-color: $btn-secondary-bg-active;
  }
}

.btn-arrow-primary {
  @extend %btn;
  color: $btn-arrow-primary-text;
  border-color: $btn-arrow-primary-bg;
  background-color: $btn-arrow-primary-bg;

  & svg {
    width: 22px;
    height: 22px;

    @media (min-width: 768px) {
      width: 22px;
      height: 22px;
    }

    @media (min-width: 1200px) {
      width: 28px;
      height: 28px;
    }
  }
}

.btn-arrow-secondary {
  @extend %btn;
  color: $btn-arrow-secondary-text;
  border-color: $btn-arrow-secondary-bg;
  background-color: $btn-arrow-secondary-bg;

  & svg {
    width: 22px;
    height: 22px;

    @media (min-width: 768px) {
      width: 22px;
      height: 22px;
    }

    @media (min-width: 1200px) {
      width: 28px;
      height: 28px;
    }
  }
}

.btn-filter-primary {
  @extend %btn;
  padding: 8px 10px;
  font-size: 12px;
  color: $btn-filter-primary-text;
  border-color: $btn-filter-primary-bg;
  background-color: $btn-filter-primary-bg;

  & svg {
    width: 15px;
    height: 15px;

    @media (min-width: 768px) {
      width: 18px;
      height: 18px;
    }

    @media (min-width: 1200px) {
      width: 24px;
      height: 24px;
    }
  }

  @media (min-width: 768px) {
    padding: 12px 16px;
    font-size: 15px;
  }

  @media (min-width: 1440px) {
    padding-left: 24px;
    padding-right: 24px;
    font-size: 18px;
  }
}

.btn-filter-secondary {
  @extend %btn;
  padding: 8px 10px;
  font-size: 12px;
  color: $btn-filter-secondary-text;
  border-color: $btn-filter-secondary-border;
  background-color: $btn-filter-secondary-bg;

  & svg {
    width: 15px;
    height: 15px;

    @media (min-width: 768px) {
      width: 18px;
      height: 18px;
    }

    @media (min-width: 1200px) {
      width: 24px;
      height: 24px;
    }
  }

  @media (min-width: 768px) {
    padding: 12px 16px;
    font-size: 15px;
  }

  @media (min-width: 1440px) {
    padding-left: 24px;
    padding-right: 24px;
    font-size: 18px;
  }
}
