.socials__list {
  display: flex;
  gap: 18px;

  @media (min-width: 768px) {
    gap: 28px;
  }
}

.socials__item {
  color: $socials-icon-fill;

  &:hover,
  &:focus {
    color: $socials-icon-hover-fill;
  }
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__icon {
  width: 30px;
  height: 30px;
  fill: currentColor;

  @media (min-width: 480px) {
    width: 32px;
    height: 32px;
  }
}
