.header > .container {
  display: flex;

  & .btn-secondary {
    margin-left: 54px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.nav-menu {
  display: flex;
}

.nav-menu__list {
  display: flex;
  gap: 24px;
}

.nav-menu__list-item {
  padding: 8px 16px;
  border: 1px solid $nav-item-border;
  background-color: $nav-item-bg;
}
