.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header > .container {
  position: relative;
  display: flex;
  padding-top: 46px;
  padding-bottom: 46px;
  z-index: 1;
}

.nav-menu {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-menu__list {
  position: relative;
  display: none;
  margin-left: auto;
  min-width: 240px;

  @media (min-width: 768px) {
    display: flex;
    gap: 24px;
    gap: 10px;
    min-width: 240px;
  }

  @media (min-width: 1200px) {
    gap: 24px;
    min-width: 344px;
  }
}

.nav-menu__list-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 6px 12px;
  border: 1px solid $nav-item-border;
  border-radius: 32px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.28;
  color: $nav-item-text;
  background-color: $nav-item-bg;

  &:has(.nav-menu__dropdown) {
    position: absolute;
    right: -13px;

    @media (min-width: 1200px) {
      right: 0;
    }
  }

  &:hover {
    background-color: $nav-item-bg-hover;
    cursor: pointer;
  }

  @media (min-width: 768px) {
    padding: 6px 10px;
    font-size: 12px;
  }

  @media (min-width: 1200px) {
    padding: 8px 16px;
    font-size: 14px;
  }
}

.nav-menu__dropdown {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &:hover .nav-menu__dropdown-item {
    display: block;
  }
}

.nav-menu__dropdown-item {
  display: none;
}

.nav-menu__dropdown-item--visible {
  display: flex;
}

.nav-menu__dropdown-arrow {
  margin-left: 6px;
  width: 16px;
  height: 16px;
  fill: currentColor;

  @media (min-width: 768px) {
    margin-left: 6px;
    width: 16px;
    height: 16px;
  }

  @media (min-width: 1200px) {
    margin-left: 10px;
    width: 18px;
    height: 18px;
  }
}

.nav-menu__btn-open {
  margin-left: auto;
  width: 32px;
  height: 32px;
  border: unset;
  fill: $subtitle-color;
  background-color: transparent;

  @media (min-width: 768px) {
    display: none;
  }
}

.nav-menu_icon {
  width: 100%;
  height: 100%;
}

.header__btn {
  @extend .btn-secondary;
  display: none;
  margin-left: 54px;
  padding-left: 24px;
  padding-right: 24px;

  &:hover {
    border-color: $btn-secondary-bg-active;
    background-color: $btn-secondary-bg-active;
  }

  @media (min-width: 768px) {
    display: flex;
    margin-left: 25px;
    padding-left: 12px;
    padding-right: 12px;
  }

  @media (min-width: 1200px) {
    margin-left: 54px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: $modal-bg;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.menu__container {
  padding: 46px 24px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu__close-btn {
  position: absolute;
  top: 46px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-color: transparent;
}

.menu-close-icon {
  width: 20px;
  height: 20px;
  fill: $modal-btn-close;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 19px;
  color: $modal-text;
}

.menu__dropdown {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 30px;
}

.menu__dropdown-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__dropdown-arrow {
  margin-left: 2px;
  width: 22px;
  height: 22px;
  fill: $modal-text;
}
