.hero {
  padding-top: 180px;
}
.hero > .container {
  position: relative;
  z-index: 1;
}

.hero__title {
  max-width: 361px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;
  color: $title-color;
}

.hero__title-accent {
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px $title-color;
}

.gradient-1 {
  position: absolute;
  top: -77px;
  left: -173px;
  width: 438px;
  height: 494px;
  background-color: $hero-gradient-1;
  opacity: 0.2;
  filter: blur(60px);
  transform: rotate(90deg);
}

.gradient-2 {
  position: absolute;
  top: -162px;
  left: 74px;
  width: 438px;
  height: 494px;
  background-color: $hero-gradient-2;
  opacity: 0.2;
  filter: blur(60px);
  transform: rotate(90deg);
}

.bg-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: auto;
  border-bottom-left-radius: 80px;
  background-image: url('../images/bg-house-desk-1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
