.recommendation {
}

.carousel {
  display: flex;
  overflow: hidden;
}

.carousel-item {
  width: 200px;
  height: 200px;
  background-color: red;
  flex: 0 0 100%;
  transition: transform 0.5s ease;
}
