.subscribe {
  @extend %section;
}

.subscribe__window {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 10px;
  border-radius: 32px;
  background-image: url('../images/subscribe-bg-desk-1x.jpg');
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: 480px) {
    padding: 65px 42px;
  }
}

.subscribe__title {
  max-width: 424px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  text-transform: capitalize;
  color: $subtitle-color;

  @media (min-width: 1200px) {
    font-size: 32px;
  }
}

.subscribe__form {
  position: relative;
  margin-top: 28px;
  width: 100%;
  max-width: 496px;

  @media (min-width: 768px) {
    margin-top: 28px;
  }

  @media (min-width: 1200px) {
    margin-top: 32px;
  }
}

.subscribe__form-input {
  padding: 14px 103px 14px 40px;
  width: 100%;
  border: 1px solid $input-border-color;
  border-radius: 32px;

  &::placeholder {
    font-weight: 500;
    font-size: 11px;
    line-height: 1.57;
    color: $input-placeholder;

    @media (min-width: 768px) {
      font-size: 11px;
    }

    @media (min-width: 1200px) {
      font-size: 14px;
    }
  }

  &:focus {
    outline-color: $subscribe-icon-fill;
  }

  @media (min-width: 768px) {
    padding: 14px 104px 14px 40px;
  }

  @media (min-width: 1200px) {
    padding: 17px 129px 17px 64px;
  }
}

.subscribe__form-icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  fill: $subscribe-icon-fill;

  @media (min-width: 768px) {
    left: 14px;
    width: 20px;
    height: 20px;
  }

  @media (min-width: 1200px) {
    left: 24px;
    width: 24px;
    height: 24px;
  }
}

.subscribe__btn {
  @extend .btn-primary;
  position: absolute;
  top: 3px;
  right: 3px;
  height: calc(100% - 6px);
}

.hero__btn-arrow {
  margin-left: 2px;

  @media (min-width: 768px) {
    margin-left: 2px;
  }

  @media (min-width: 1200px) {
    margin-left: 4px;
  }
}

.subscribe__img-left-1 {
  display: none;
  position: absolute;
  top: 36px;
  left: 42px;
  width: 81px;
  height: 81px;
  border: 2px solid $subscribe-border-color;
  border-radius: 24px;
  background-image: url('../images/subscribe-chair-1-desk-1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: 768px) {
    display: block;
  }
}

.subscribe__img-left-2 {
  display: none;
  position: absolute;
  top: 71px;
  left: 204px;
  width: 36px;
  height: 36px;
  border: 2px solid $subscribe-border-color;
  border-radius: 50%;
  background-image: url('../images/subscribe-ronald-richards-desk-1x.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: 1200px) {
    display: block;
  }
}

.subscribe__img-left-3 {
  display: none;
  position: absolute;
  top: 173px;
  left: 67px;
  width: 36px;
  height: 36px;
  border: 2px solid $subscribe-border-color;
  border-radius: 50%;
  background-image: url('../images/subscribe-dianne-russell-desl-1x.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: 1200px) {
    display: block;
  }
}

.subscribe__img-left-4 {
  display: none;
  position: absolute;
  top: 178px;
  left: 195px;
  width: 54px;
  height: 54px;
  border: 2px solid $subscribe-border-color;
  border-radius: 24px;
  background-image: url('../images/subscribe-house-desk-1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: 1200px) {
    display: block;
  }
}

.subscribe__img-right-1 {
  display: none;
  position: absolute;
  top: 44px;
  right: 200px;
  width: 70px;
  height: 70px;
  border: 2px solid $subscribe-border-color;
  border-radius: 24px;
  background-image: url('../images/subscribe-apartment-desk-1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: 1200px) {
    display: block;
  }
}

.subscribe__img-right-2 {
  display: none;
  position: absolute;
  top: 107px;
  right: 82px;
  width: 36px;
  height: 36px;
  border: 2px solid $subscribe-border-color;
  border-radius: 50%;
  background-image: url('../images/subscribe-woman-desk-1x.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: 1200px) {
    display: block;
  }
}

.subscribe__img-right-3 {
  display: none;
  position: absolute;
  top: 143px;
  right: 200px;
  width: 36px;
  height: 36px;
  border: 2px solid $subscribe-border-color;
  border-radius: 50%;
  background-image: url('../images/subscribe-courtney-henry-desk-1x.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: 1200px) {
    display: block;
  }
}

.subscribe__img-right-4 {
  display: none;
  position: absolute;
  width: 55px;
  height: 55px;
  border: 2px solid $subscribe-border-color;
  border-radius: 24px;
  background-image: url('../images/subscribe-chair-2-desk-1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: 768px) {
    display: block;
    top: 87px;
    right: 52px;
  }

  @media (min-width: 1200px) {
    top: 197px;
    right: 73px;
  }
}
